/log/*
/tmp/*
/backup/*
/cnf/nginx*.conf
/cnf/php.ini
/cnf/tags
/.zprofile
/.profile
/.zsh_history
/.zshrc
/.viminfo
/.zcompdump-*
/.ssh/*
/.gitconfig
/.config/htop
/.selected_editor
/.my.cnf
/.mysql_history
/.cache/*
/.config/*
/.local/*
/www/*
/www-old-*/*
/.jobregistered
/.wget-hsts
/config.inc.php
