/log/*
/tmp/*
/backup/*
/cnf/tags
/.zprofile
/.profile
/.zsh_history
/.zshrc
/.viminfo
/.zcompdump-*
/.ssh/*
/.gitconfig
/.config/htop
/.selected_editor
/.my.cnf
/.mysql_history
/.cache/*
/.config/*
/.local/*
